<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>배오시cms(견적관리)</title>
    <!-- link -->
    <link rel="stylesheet" href="./css/mainnav.css">
    <link rel="stylesheet" th:href="@{/css/Estimate.css}">
    <th:block th:replace="cms/cms_fragment/config :: configFragment"></th:block>
  </head>
  <body>
    <body>
    <th:block th:replace="cms/cms_fragment/mainnav :: mainnavFragment"></th:block>

      <div class="wrap">
        <div class="top">
          <h1><i class="fa-solid fa-book"></i>견적관리</h1>
          <section class="topMenu1">
            <p>전제 견적 수</p>
            <p>50 개</p>
          </section>

          <section class="topMenu2">
            <p>전체 견적금액</p>
            <p>23 개</p>
          </section>

          <section class="topMenu3">
            <p>중도이탈 견적</p>
            <p>23 개</p>
          </section>

          <section class="topMenu3">
            <p>완료 상담</p>
            <p>48 개</p>
          </section>

          <section class="topMenu3">
            <p>미완료 상담</p>
            <p>3 개</p>
          </section>

          <section class="topMenu3">
            <p>최다 상담유형</p>
            <p>전화상담</p>
          </section>

        </div>
        <div class="content">

        </div>
        <form name="searchForm" onsubmit="return showGrid(this)">
          <fieldset class="Msearch1">
            <select name="category">
              <option value="all">전체</option>
              <option value="id">견적번호</option>
              <option value="name">품목명</option>
              <option value="company">업체명 ~ 이메일</option>
            </select>
            <input type="text" name="keyword" placeholder=".로 검색">
            <input type="submit" value="검색">
          </fieldset>
        </form>

          <div class="contents">
            <div class="Msearch2">
              <select id="viewNum" onchange="showGrid(searchForm)">
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
              <ul class="actionBt1">
                <li><i class="fa-solid fa-file-arrow-down"></i>저장</li>
                <li><i class="fa-solid fa-arrows-rotate"></i>칼럼위치초기화</li>
                <li><i class="fa-solid fa-list-check"></i>칼럼위치저장</li>
                <li onclick="exportExcel()"><i class="fa-solid fa-download"></i>엑셀 다운로드</li>
              </ul>
            </div>

            <div class="grid">
              <div id="estimateGrid"></div>
              <div id="estimateGridPager" class="pager"></div>
            </div>
          </div>
          <div class="Criteria">
            <ul class="actionBt2">
              <li><i class="fa-solid fa-file-arrow-down"></i>저장</li>
              <li><i class="fa-solid fa-arrows-rotate"></i>칼럼위치초기화</li>
              <li><i class="fa-solid fa-list-check"></i>칼럼위치저장</li>
              <li><i class="fa-solid fa-download"></i>엑셀 다운로드</li>
            </ul>
          </div>

      </div><!-- .wrap -->
    </body>
  </body>
</html>
<script>
  let estimateGrid;
  let estimateView;
  let estimateColumns;
  let estimateGridPager;

  function pageOnLoad() {
    loadGridEstimateList('init');
  }

  //그리드 초기 셋팅
  function loadGridEstimateList(type, result) {
    if (type == "init") {
      estimateView = new wijmo.collections.CollectionView(result, {
        pageSize: 100,
      })

      estimateGridPager = new wijmo.input.CollectionViewNavigator('#estimateGridPager', {
        byPage: true,
        headerFormat: '{currentPage:n0} / {pageCount:n0}',
        cv: estimateView
      });

      const onoffYnMap = "N,Y".split(",");	//온/오프라인 콤보박스

      estimateColumns = [
        {binding: 'id', header: '아이템번호', isReadOnly: true, width: 150, align: "center", dataType:Number},
        {binding: 'category', header: '품목명', isReadOnly: true, width: 150, align: "center"},
        {binding: 'name', header: '견적금액', isReadOnly: true, width: 200, align: "center"},
        {
          binding: 'estimate', header: '견적서', isReadOnly: true, width: 150, align: "center",
          cellTemplate: wijmo.grid.cellmaker.CellMaker.makeButton({
            text: '보기',
            click: (e, ctx) => showPop('itemManagement', ctx),
          })
        },
        {binding: 'date', header: '상담예약일', isReadOnly: true, width: 150, align: "center"},
        {binding: 'type', header: '상담유형', isReadOnly: true, width: 150, align: "center"},
        {binding: 'consultYn', header: '상담여부', isReadOnly: false, width: 150, align: "center", dataMap: onoffYnMap},
        {binding: 'consultDt', header: '상담완료일', isReadOnly: true, width: 150, align: "center"},
        {binding: 'company', header: '업체명', isReadOnly: true, width: 150, align: "center"},
        {binding: 'name', header: '이름', isReadOnly: true, width: 150, align: "center"},
        {binding: 'tel', header: '전화번호', isReadOnly: true, width: 150, align: "center"},
        {binding: 'email', header: '이메일', isReadOnly: true, width: 150, align: "center"},
        {binding: 'cretDt', header: '생성일자', isReadOnly: true, width: 150, align: "center"},
      ];

      estimateGrid = new wijmo.grid.FlexGrid('#estimateGrid', {
        autoGenerateColumns: false,
        alternatingRowStep: 0,
        columns: estimateColumns,
        itemsSource: estimateView
      });

      estimateGrid.itemFormatter = function (panel, r, c, cell) {
        if (panel.cellType == wijmo.grid.CellType.RowHeader) {
          cell.textContent = (r + 1).toString();
        }
      };

      _setUserGridLayout('estimateLayout', estimateGrid, estimateColumns);

    }else {
      estimateView = new wijmo.collections.CollectionView(result, {
        pageSize: Number($('#viewNum').val()),
        trackChanges: true
      });
      estimateGridPager.cv = estimateView;
      estimateGrid.itemsSource = estimateView;
    }

    refreshPaging(estimateGrid.collectionView.totalItemCount, 1, estimateGrid, 'estimateGrid');  // 페이징 초기 셋팅
  }

  //엑셀다운로드
  function exportExcel() {

    var gridView = estimateGrid.collectionView;
    var oldPgSize = gridView.pageSize;
    var oldPgIndex = gridView.pageIndex;

    //전체 데이터를 엑셀다운받기 위해서는 페이징 제거 > 엑셀 다운 > 페이징 재적용 하여야 함.
    estimateGrid.beginUpdate();
    estimateView.pageSize = 0;

    wijmo.grid.xlsx.FlexGridXlsxConverter.saveAsync(estimateGrid, {
              includeCellStyles: true,
              includeColumnHeaders: true
            }, '견적리스트.xlsx',
            saved => {
              gridView.pageSize = oldPgSize;
              gridView.moveToPage(oldPgIndex);
              estimateGrid.endUpdate();
            }, null
    );
  }

  const getData = async (form) => {

    try {
      return await axios.get("/cms/api/estimate", {
        params: {
          keyword: form.keyword.value,
          category: form.category.value
        }
      })
    } catch (error) {
      console.log(error);
    }
  }

  const showGrid = (form) => {
    const gridData = getData(form)
            .then(res => {
              console.log(res.data);
              loadGridEstimateList('search', res.data)
            })
            .catch(error => {
              console.log(error);
            })
    return false;
  }

  $(document).ready(function () {
    pageOnLoad();
  })
</script>
