<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <th:block th:fragment="mainnavFragment">
  <div class="mainwrap">
      <header>
        <img src="/img/img_1.png" alt="CTNS 로고 이미지">
        <p>배터리 오더 시스템</p>
      </header>
      <div class="navList">
        <ul class="navList1">
          <li><a href="#"><i class="fa-solid fa-clipboard-question"></i>대시보드</a></li>
          <li><a href="/cms/item"><i class="fa-solid fa-boxes-stacked"></i>아이템 관리</a></li>
          <li><a href="/cms/estimate"><i class="fa-solid fa-book"></i>견적 관리</a></li>
<!--          <li><a href="../../../../../../../../../../../Downloads/배터리오더시스템/Conditions.html"><i class="fa-solid fa-book-bookmark"></i>약관 관리</a></li>-->
        </ul>
        <ul class="navList2">
          <li><a href="/term/service" target="_blank">이용약관</a></li>
          <li><a href="/term/privacy" target="_blank">개인정보처리방침</a></li>
        </ul>
      </div>
      <div class="last">
        <p><a href="#">관리자모드 종료</a></p>
      </div>
    </div> <!-- .mainwrap -->
  </th:block>
  </body>
</html>
