/*reset*/
*{margin:0;padding:0;}
ol,ul{list-style:none;}
a{text-decoration:none;color:#000;display:block;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:inherit;}
i,em{font-style:normal;}
b,strong{font-weight:normal;}
table{border-collapse:collapse;}
*{font-family: 'Play', sans-serif;}

/* wrap */
.wrap{width:calc(100% - 250px);margin-left:250px;box-sizing:border-box;padding:2% 2%;}
.navList1 > li.on{background:linear-gradient(to right, #65D4FC, #01F1BB);border-radius:10px;}

/* .top */
.top{box-sizing:border-box;width:100%;margin-bottom:3%;}
.top > h1{box-sizing:border-box;font-size:2rem;font-weight:600;margin-bottom:1%;}
.top > section{border:1px solid #ddd;box-sizing:border-box;float:left;width:16.6%;height:100px;text-align:center;font-size:1.3rem;padding:1% 1%;font-weight:500;}
.top > section:first-of-type{border-top-left-radius:10px;border-bottom-left-radius:10px;}
.top > section:last-of-type{border-top-right-radius:10px;border-bottom-right-radius:10px;}
.top::after{content:"";display:block;clear:both;}
.top > section > p:first-of-type{margin-bottom:5%;font-weight:500;color:#2e6da4;}
.top > section > p:last-of-type{font-weight:600;}
.wrap > .top > .topMenu4 > p{margin-bottom:0;border:1px solid red;box-sizing:border-box;line-height:50px;width:70%;margin-left:16%;margin-top:2%;border-radius:20px;cursor:pointer;}
.topMenu4 i{margin-left:2%;}
.top > h1 > i{font-size:1.3rem;margin-right:1%;}


/* .contents */
.contents{border:1px solid #ccc;box-sizing:border-box;}
.contents > li > a{width:100%;height:100%;}
/* Msearch1 */
fieldset{box-sizing:border-box;width:100%;padding:1% 1%;border:none;background:#f7f7f7;border-top-left-radius:10px;border-top-right-radius:10px;}
fieldset > select{width:10%;box-sizing:border-box;font-size:1.1rem;padding:5px 0px}
fieldset > input{font-size:1.1rem;padding:5px 0px;}
fieldset > input:last-of-type {
    width: 6%;
    background: #fff;
    border-radius: 10px;}

/* Msearch2 */
.Msearch2{box-sizing:border-box;padding-bottom:2%;padding:1% 1%;}
.Msearch2::after{content:"";display:block;clear:both;}
.Msearch2 > select{float:left;}

.Msearch2 > .actionBt1{float:right;}
.Msearch2 > select{width:5%;font-size:1.1rem;}
.Msearch2 > .actionBt1{box-sizing:border-box;width:33%;text-align:center;}
.Msearch2 > .actionBt1::after{content:"";display:block;clear:both;}
.Msearch2 > ul.actionBt1 > li{float:left;border:1px solid #888;box-sizing:border-box;padding:2% 2%;margin-right:1%;width:24%;border-radius:10px;transition:all 0.1s ease 0s;cursor:pointer;}
.Msearch2 > ul.actionBt1 > li:hover{background:#337ab7;color:#fff;}

.Msearch2 > ul.actionBt1 > li i{margin-right:2%;}


/* .grid */
.grid{box-sizing:border-box;width:100%;height:100%;}


/* .actionBt2 */
.Criteria{}
.actionBt2{box-sizing:border-box;text-align:center;height:50px;margin-top:1%;box-sizing:border-box;width:33%;position:relative;left:69%;}
.actionBt2 i{margin-right:2%;}
.actionBt2::after{content:"";display:block;clear:both;}
.actionBt2 > li{float:left;border:1px solid #888;box-sizing:border-box;margin-right:1.5%;width:140px;line-height:36px;border-radius:10px;cursor:pointer;transition:all 0.1s ease 0s;}
.actionBt2 > li:hover{background:#337ab7;color:#fff;}
.actionBt2 > li:last-of-type{margin-right:0%;}
.actionBt2 > li a{width:100%;height:100%;}



/* innermodal */
.graybg{
    background-color:#00000063;
    z-index:1000;
    position:fixed;
    width:calc(100% - 250px);height:100%;
    margin-left:250px;
    pointer-events:auto;
    display:none;
}
.innermodal{
    display:none;
}

.innermodal.is_on{
    display:block;
}

.innermodal{box-sizing:border-box;position: fixed;left:30%;top:10%;width:50%;height:70%;background-color: #fff;z-index: 1000000000;pointer-events:auto;}
.innermodal > h1{box-sizing:border-box;background-color:#2e6da4;color:#fff;width:100%;height:50px;padding: 1% 1%;position: relative;font-size:1.4rem;font-weight:600; absolute;top:0%;}
.innermodal > h1 > span{position: absolute;right:2%;cursor: pointer;}

.Ordernumber{box-sizing:border-box;display: flex;line-height: 40px;margin-top: 60px;}
.Ordernumber > li:first-of-type{font-weight:600; border-box;margin-right: 4%;padding: 0% 1%;}
.Ordernumber > li:last-of-type{border:0.2px solid #000;box-sizing: border-box;padding: 0% 3%;background-color: #dddddd69;}

.actionButton{box-sizing: ;display: flex;margin-bottom:2%;box-sizing: border-box;}
.actionButton > li{border:1px solid #222d3cc9;background-color: #222d3cc9;box-sizing: border-box;margin-right:2%;width:10%;text-align: center;line-height: 30px;cursor: pointer;font-weight: 600;border-radius: 5px;color:#fff;}
.actionButton > li > a{color:#fff;}
.actionButton > li:first-of-type{margin-left:50%;}
.actionButton > li:hover{background-color: #2e6da4;color:#fff;border:1px solid #2e6da4;}
.actionButton > li:hover > a{color: #fff;border:1px solid #2e6da4;}


.wjmo{border:1px solid #000;box-sizing: border-box;width:100%;height: 100%;margin-bottom:2%;}

.content2{box-sizing: border-box;}
.content2::after{content: "";display: block;clear: both;}
.content2 > div{float: left;width: 50%;height:100px;box-sizing: border-box;padding:1% 1%;box-sizing: border-box;}
.content2 > div:last-of-type{width:100%;}

.con1 > label{margin-right:5%;font-weight:600;line-height:35px;}
.con1 > input{width:50%;height:50%;}

.con2 > label{margin-right:5%;font-weight:600;line-height:35px;position: relative;bottom:30%;}
.con2 > textarea{width:75%;height:66%;padding:0% 1%;box-sizing: border-box;font-size:1rem;max-width::75%;max-height:66%;font-size:1.1rem;}

.con3 > label{margin-right:5%;font-weight:600;line-height:35px;}
.con3 > input{width:50%;height:50%;}

.con4{display: flex;}
.con4 > p:first-of-type{margin-right:5%;font-weight: 600;line-height:35px;}
.con4 > p:last-of-type{background-color: #dddddd69;border:0.2px solid #000;box-sizing: border-box;width:50%;height:30px;text-align: center;line-height:30px;}


.content2 > div.con5{height:200px;}
.con5 > label{margin-right:5%;font-weight:600;line-height:35px;box-sizing: border-box;position: relative;bottom: 50%;}
.con5 > textarea{width:90%;height:100%;max-width:90%;max-height:100%; scroll;padding: 1% 1%;box-sizing: border-box;font-size:1.2rem;}


.Completingcreation{
    box-sizing: border-box;
    text-align: center;
    font-size:1.3rem;
    line-height:50px;
    background-color: #2e6da4;
    color: #fff;
    position: absolute;bottom:0%;
    width: 100%;
    cursor: pointer;
    font-weight:600;
    transition:all 0.4s ease 0s;
}
.Completingcreation:hover{background-color:#222d3c;color:#fff;}

/* ls */
